<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <nav>
    <a href="/">Home Page!</a>
    <a href="/articles/new">New Article!</a>
    <nav>
    <h2>Article Poster!</h2>
    <%= yield%>
</body>
</html>